{% extends '../includes/base.html' %}
{% block title %}Выход{% endblock %}
{% block content %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock static %}
<main class="main container">
    <p class="custom-text-block">Благодарим вас за время, проведенное на этом сайте.</p>
    <div class="custom-button-block">
        <button class="button button_style_blue" onclick="location.href='{% url 'index' %}'">Перейти на главную</button>
    </div>
</main>
{% endblock %}